body {
	background-color: #E6EDF3 !important;
}
.header {
	width: 100%;
	height: 40px;
	background-color: #3C8DBC;
}
#logo {
	width: 200px;
	height: 100%;
	margin-left: 2%;
	display: block;
	float: left;
}
#menuBar {
	color: white !important;
	font-size: 28px !important;
	margin-left: 1% !important;
}
#menuBarDiv {
	width: 50px;
	display: block;
	float: left;
	padding-top: 8px;
	margin-left: 10px;
}
.uperrDiv {
	width: 100%;
	display: block;
	height: auto;
	float: left;
	background-color: #E6EDF3 !important;
}
.indexTitle {
	color: #41648C;
	font-size: 26px;
	margin-left: 2%;
	background-color: #E6EDF3 !important;
}
.eachPart {
	width: 22%;
	height: auto;
	overflow: auto;
	margin-left: 2%;
	float: left;
}
#blue {
	background-color: #00C0EF;
}
#green {
	background-color: #00A65A;
}
#orange {
	background-color: #F39C11;
}
#red {
	background-color: #DE4B39;
}
.eachPartUp {
	width: 100%;
	height: 100px;
	float: left;
}
.eachPartDown {
	width: 100%;
	float: left;
	color: white;
	height: auto;
	padding-top: 6px;
}
#downBlue {
	background-color: #009EC5;
}
#downGreen {
	background-color: #017A45;
}
#downOrange {
	background-color: #B26F04;
}
#downRed {
	background-color: #A8382A;
}
.eachPartUpLeft {
	width: 65%;
	float: left;
	color: white;
	text-align: left;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 20px;
}
.eachPartUpRight {
	width: 35%;
	float: left;
	text-align: center;
	padding-right: 10px;
	padding-top: 20px;
}
.arrowIcon {
	width: 50%;
	float: left;
	color: white !important;
	font-size: 18px !important;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;
}
.detailText {
	width: 50%;
	float: left;
	text-align: right;
}
.bigIcons {
	font-size: 70px !important;
	color: #787878 !important;
}
.textNumbers {
	font-size: 22px;
	padding-bottom: 5px;
}
.bottomDiv {
	width: 100%;
	height: auto;
	margin-left: 2%;
	display: block;
	float: left;
	margin-top: 30px;
}
.leftBottomDiv {
	width: 54%;
	height: 405px;
	display: block;
	float: left;
	background-color: #72DADB;
}
#chartImg {
	width: 100%;
	height: 405px;
}
.rigthBottomDiv {
	width: 37%;
	height: 300px;
	display: block;
	float: left;
	background-color: #72DADB;
	
}
.titleDiv {
	width: 39%;
	height: auto;
	color: #417C9C;
	font-size: 16px;
	padding-left: 10px;
	display: block;
	float: left;
	background-color: white;
	margin-bottom: 10px;
	margin-left: 2%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}
.listDiv {
	width: 39%;
	height: auto;
	display: block;
	float: left;
	margin-left: 2%;
	margin-bottom: 10px;
	background-color: white;
}
.listItem {
	width: 100%;
	height: 80px;
}
.leftItem {
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	float: left;
}
.iconBlock {
	background-color: #535353;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin-left: 10px;
	padding-top: 7px;
	padding-left: 10px;
}
.userIcon {
	color: white !important;
	font-size: 36px !important;
}
.middleItem {
	width: 50%;
	margin-left: 2%;
	float: left;
	display: block;
	padding-top: 15px;
}
.middleTitle {
	color: #58769A;
	font-size: 16px;
	padding: 0px !important;
	margin: 0px !important;
}
.middleText {
	color: #CCCDD2;
	font-size: 12px;
	padding: 0px !important;
	margin: 0px !important;
}
.rigthItem {
	width: 26%;
	display: block;
	float: left;
	padding-right: 10px;
	text-align: right;
}
.blueBtn {
	height: 25px;
	background-color: #02BDF0;
	color: white;
	font-size: 14px;
	border: none;
	margin-top: 25px;
}
.greenBtn {
	height: 25px;
	background-color: #29BC2D;
	color: white;
	font-size: 14px;
	border: none;
	margin-top: 25px;
}
.redBtn {
	height: 25px;
	background-color: #DB4431;
	color: white;
	font-size: 14px;
	border: none;
	margin-top: 25px;
}
.orangeBtn {
	height: 25px;
	background-color: #F39C11;
	color: white;
	font-size: 14px;
	border: none;
	margin-top: 25px;
}
.footerDiv {
	width: 39%;
	height: auto;
	color: #417C9C;
	font-size: 16px;
	padding-left: 10px;
	display: block;
	float: left;
	background-color: white;
	margin-bottom: 10px;
	margin-left: 2%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.footer {
	width: 100%;
	height: 40px;
	color: #417C9C;
	font-size: 14px;
	background-color: white;
	float: left;
	display: block;
	margin-top: 10px;
	/*margin-left: 2%;*/
	padding-left: 5px;
	padding-top: 10px;
}
.footerText {
	width: 50%;
	float: left;
	display: block;
}
.footerVersion {
	width: 50%;
	float: left;
	display: block;
	text-align: right;
	padding-right: 5px;
}

#menu {
	background-color: #1A2225;
	width: 16%;
	height: 130vh;
	float: left;
	display: block;
	color: white;
}
.pageContent {
	width: 83%;
	display: block;
	float: left;
}
.userInfo {
	font-size: 14px;
	width: 100%;
	display: block;
	float: left;
}
.userIcon {
	font-size: 24px !important;
	color: white !important;
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.userInfo {
	display: block;
	float: left;
	width: 75%;
	margin-left: 10px;
	margin-top: 10px;
}
.menuTabDiv {
	float: left;
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}
.menuTab {
	background-color: #222D31;
	width: 80%;
	margin-left: 3%;
	height: 30px;
	display: block;
	float: left;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
}
.menuIcons {
	font-size: 18px !important;
	color: white !important;
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
#searchBlock {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 50px;
	background-color: #374850;
	display: block;
	float: left;
}
#searchInput {
	display: block;
	float: left;
	background-color: #374850 !important;
	border: none !important;
	width: 80%;
	height: 50px;
	padding: 10px;
	color: white !important;
}
.searchIcon {
	color: gray !important;
	font-size: 24px !important;
	display: block;
	float: left;
	margin-top: 8px;
}

::-webkit-input-placeholder {
   padding: 10px !important;
}
:-moz-placeholder { /* Firefox 18- */
   padding: 10px !important;
}
::-moz-placeholder {  /* Firefox 19+ */
   padding: 10px !important;
}
:-ms-input-placeholder {
   padding: 10px !important;
}
a {
  text-decoration: none;
  color: white !important;
}