.body {
	background-color: white;
}
.uperrDiv {
	width: 100%;
	display: block;
}
.eachPart {
	width: 22%;
	height: auto;
	overflow: auto;
	margin-left: 2%;
	float: left;
}
#blue {
	background-color: #00C0EF;
}
#green {
	background-color: #00A65A;
}
#orange {
	background-color: #F39C11;
}
#red {
	background-color: #DE4B39;
}
.eachPartUp {
	width: 100%;
	height: 100px;
	float: left;
}
.eachPartDown {
	width: 100%;
	float: left;
	color: white;
	height: auto;
	padding-top: 6px;
}
#downBlue {
	background-color: #009EC5;
}
#downGreen {
	background-color: #017A45;
}
#downOrange {
	background-color: #B26F04;
}
#downRed {
	background-color: #A8382A;
}
.eachPartUpLeft {
	width: 65%;
	float: left;
	color: white;
	text-align: left;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 20px;
}
.eachPartUpRight {
	width: 35%;
	float: left;
	text-align: center;
	padding-right: 10px;
	padding-top: 20px;
}
.arrowIcon {
	width: 50%;
	float: left;
	color: white !important;
	font-size: 18px !important;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;
}
.detailText {
	width: 50%;
	float: left;
	text-align: right;
}
.bigIcons {
	font-size: 70px !important;
	color: #787878 !important;
}
.textNumbers {
	font-size: 22px;
	padding-bottom: 5px;
}
